<%= form_with model: @permit, local: true do |f| %>
  <div class="form-row">
    <div class="form-group col-sm-4">
      <label> Tipo de permiso</label>
      <%= f.select :permit_type,
                   @permit_type.map{|p| [p.name_type, p.abb_type]},
                   @permit.permit_type.nil? ? {} : {selected: @permit.permit_type.abb_type},
                   class: 'form-control',
                   id: :permit_type%>
    </div>
  </div>
  <div class="form-row datepairExample2">
    <div class="form-group col-sm-4">
      <label>Fecha inicio</label>
      <%= f.text_field :permit_date_start, class: 'form-control date start', required: true%>
    </div>
    <div class="form-group col-sm-4">
      <label>Fecha fin</label>
      <%= f.text_field :permit_date_finish, class: 'form-control date end', required: true %>
    </div>
  </div>
  <div class="form-row datepairExample2">
    <div class="form-group col-sm-4">
      <label>Hora inicio</label>
      <%= f.text_field :permit_time_start, class: 'form-control time start', required: true %>
    </div>
    <div class="form-group col-sm-4">
      <label>Hora fin</label>
      <%= f.text_field :permit_time_finish, class: 'form-control time end', required: true %>
    </div>
  </div>
  <div class="form-group">
    <label> Describa permiso</label>
    <%= f.text_area :permit_reason, cols: 15, rows: 5, class: 'form-control', id: :permit_reason , required: true%>
  </div>
  <%= f.submit 'Enviar', class: 'btn btn-primary' %>
  <%= f.submit 'Limpiar', class: 'btn btn-info', type: 'reset', id: 'btnLimpiarForm'%>
<% end %>
<script>
    var date, day, month, year;
    date = new Date;
    day = date.getDate();
    year = date.getFullYear();
    month = date.getMonth();
    // initialize input widgets first
    $('.datepairExample2 .time').timepicker({
        'showDuration': true,
        'timeFormat': 'g:ia',
        'minTime': '8:00am',
        'maxTime': '6:00pm',
        'disableTimeRanges': [
          ['12pm', '1pm']
        ]
    });

    $('.datepairExample2 .date').datepicker({
        'format': 'dd/mm/yyyy',
        'autoclose': true,
        'todayHighlight': true,
        'language': 'es',
        'startDate': new Date(year, month, day)
    });

    // initialize datepair
    $('.datepairExample2').datepair();
</script>