<h1><span class="badge badge-secondary">My Permits</span></h1>
<br>
<%= link_to "New Permit", new_permit_path, remote: true, class: 'btn btn-primary'%>
<br>
<br>
<table id="example" class="display table table-hover table-bordered" cellspacing="0" width="100%">
	<thead>
	<tr>
		<th>Code</th>
		<th>Type permit</th>
		<th>State permit</th>
		<th>Reason</th>
		<th>Actions</th>
	</tr>
	</thead>
	<tbody>
	<% @permits.each do |permit|%>
		<tr>
			<td style="text-align: center;"><h5><span class="badge badge-primary"><%= permit.code_permit %></span></h5></td>
			<td style="text-align: center;"><h4><%= permit.permit_type.type_label_html.html_safe%></h4></td>
			<td style="text-align: center;"><h4><%= permit.permit_state.state_label_html.html_safe%></h4></td>
			<td><%= permit.permit_reason %></td>
			<td style="text-align: center;">
					<% if permit.permit_state.abb_state == 'ENR' %>
						<%= link_to edit_permit_path(permit),
                        data: {toggle: 'tooltip', placement: 'top', title: 'Edit'},
                        remote: true, class: 'btn btn-info' do%>
							<i class="fas fa-edit"></i>
						<% end %>
						<%= link_to permit_path(permit),
												method: :delete,
                        remote: true,
												data: {confirm: 'Are you sure', toggle: 'tooltip', placement: 'top', title: 'Delete'},
												class: 'btn btn-danger' do %>
							<i class="fas fa-trash-alt"></i>
						<% end %>
					<% end %>
					<%= link_to permit_path(permit),
                      data: {toggle: 'tooltip', placement: 'top', title: 'Show'},
                      remote: true, class: 'btn btn-secondary' do%>
						<i class="fas fa-eye"></i>
					<% end %>
			</td>
		</tr>
	<%end%>
	</tbody>
</table>

<div id="permit"></div>
<div id="permit-content"></div>
